[core]
	untrackedCache = true
	fsmonitor = true
	compression = 6
	preloadindex = true
[pack]
	threads = 0
[gc]
	auto = 256
[user]
	name = Evan Alvarez
	email = lwq7e50ygv8f1w@tuta.com
[init]
	defaultBranch = master
[pull]
	rebase = false
[maintenance]
	repo = /Users/evan/dotfiles
